$width: 3px;

.test {
    width:$width;
}
ul{
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
@function getPercentage($i,$total:12)
{
    @return $i/$total*100%;
}
@mixin border-class {
    border: 1px solid red;
}
.test3{
    @include border-class;
 }

@mixin column-each($list...) {
    @each $name in $list {
        .#{$name} {
            width:if(3>4, -1, 3);
        }
    }
}
@mixin column-list($p:1,$count:12) {
   @for $i from 1 through $count {
       .col-md-#{$i} {
         color:red;
         width:getPercentage($i,$count);
         @content;
       }
   }
}

@include column-list($count:2){
    >span{
        width:0;    
    }
}
@include column-each(div,body,p);